html,
body {
  height: 100vh;
  background: url(../img/header.jpg) no-repeat fixed center center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

header {
  margin-bottom: 7rem;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
  text-transform: uppercase;
}

hr {
  border-color: #f05f44;
  border-width: 3px;
  max-width: 65px;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #f05f44;
  border-color: #f05f44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
}

.btn-xl {
  padding: 1rem 2rem;
}
